<script src="/js/jquery-3.4.1.min.js"></script>
<script scr="/bootstrap/dist/js/bootstrap.min.js"></script>
<script scr="/popper.js/dist/popper.min.js"></script>
<script src="/js/work.js"></script>

</body>
</html>