<%- include('header') %>

<body>

    <div class="card top-div" style="margin-top: 140px">
        <div class="card-body">
            <form class="myForm" action = '/forget' method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control input-lg" type="email" name="email" id="email" placeholder="email" />
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-success btn-md" value="Send mail" />
                </div>
            </form>
        </div>
    </div>

    <%- include('footer') %>
    