<%- include('header') %>

<body class="banner">


	<!-- main -->
	<div class="main">
		<!--login-profile-->
		
		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>
				<% if(errinfo == 'error'){ %>
				<div class="alert alert-danger">username and password doesnot match</div>
				<% } %>

				<div class="login-form">
					<form action="/login" method="post">
						<input type="text" name="logemail" placeholder="E-mail" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="clear"></div>
		<!--//signin-form-->	
	</div>


<%- include('footer') %>
    